In [3]:
import pandas as pd
import numpy as np

In [8]:
df_true = np.load('true.npy')
df_pred = np.load('pred.npy')

In [7]:
pd.DataFrame(df_true[0])

,0,1,2,3,4,5,6,7,8,9,...,203,204,205,206,207,208,209,210,211,212
0,-0.663636,-0.339707,-0.996239,-0.514702,-0.443132,0.068424,-0.056202,-0.176526,-0.126705,-0.653591,...,-0.614649,1.244437,0.434263,-0.690547,0.177424,-0.730456,0.221037,-0.145353,-0.301831,-0.915456

In [9]:
pd.DataFrame(df_pred[0])

,0,1,2,3,4,5,6,7,8,9,...,203,204,205,206,207,208,209,210,211,212
0,-0.633478,-0.322102,-0.974002,-0.472008,-0.470287,0.104501,0.119862,-0.246669,-0.028425,-0.602033,...,-0.680415,1.264095,0.273483,-0.596725,0.109567,-0.537531,0.315909,-0.444259,-0.160472,-0.982109

In [18]:
pd.DataFrame([outer_list[0] for outer_list in df_true])

,0,1,2,3,4,5,6,7,8,9,...,203,204,205,206,207,208,209,210,211,212
0,-0.663636,-0.339707,-0.996239,-0.514702,-0.443132,0.068424,-0.056202,-0.176526,-0.126705,-0.653591,...,-0.614649,1.244437,0.434263,-0.690547,0.177424,-0.730456,0.221037,-0.145353,-0.301831,-0.915456
1,-0.656623,-0.403659,-0.836456,-0.551794,-0.386725,0.081841,-0.029781,-0.301150,-0.068217,-0.655706,...,-0.634998,1.241579,0.231079,-0.663008,0.028825,-0.313669,0.162849,-0.268493,-0.204329,-0.902355